//Alineamientos de tabg en pantalla
//  
//Creación de Mixin para importación en otros css
@mixin section_top_left
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-content: flex-start
  align-items: flex-start

@mixin section_top_center
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-content: flex-start
  align-items: flex-start

@mixin section_top_right
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-end
  align-content: flex-start
  align-items: flex-start

@mixin section_top_justify
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  align-content: flex-start
  align-items: flex-start

@mixin section_middle_left
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-content: center
  align-items: center

@mixin section_middle_center
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-content: center
  align-items: center

@mixin section_middle_right
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-end
  align-content: center
  align-items: center

@mixin section_middle_justify
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  align-content: center
  align-items: center

@mixin section_bottom_left
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start
  align-content: flex-end
  align-items: flex-end

@mixin section_bottom_center
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: center
  align-content: flex-end
  align-items: flex-end

@mixin section_bottom_right
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-end
  align-content: flex-end
  align-items: flex-end

@mixin section_bottom_justify
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  align-content: flex-end
  align-items: flex-end

.section_top_left
  @include section_top_left
.section_top_center
  @include section_top_center
.section_top_right
  @include section_top_right
.section_top_justify
  @include section_top_justify

.section_middle_left
  @include section_middle_left
.section_middle_center
  @include section_middle_center
.section_middle_right
  @include section_middle_right
.section_middle_justify
  @include section_middle_justify

.section_bottom_left
  @include section_bottom_left
.section_bottom_center
  @include section_bottom_center
.section_bottom_right
  @include section_bottom_right
.section_bottom_justify
  @include section_bottom_justify

.align_center
  text-align: center
.align_left
  text-align: left
.align_right
  text-align: right
.align_justify
  text-align: justify