@import _variables
@import _fonts
@import _alignments

@media all and (min-width: 1px)
  button
    outline: 0

  .atm-tutorialWrapp
    position: fixed
    background-color: $whiteColor
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100%
    height: 100%
    z-index: 99999
    font-family: 'Telefonica-Regular'

    .atm-tutorial
      background-color: $skyColor
      color: $whiteColor
      text-align: center
      padding: 0 0
      position: relative
      font-family: 'Telefonica-Hand'
      font-weight: 100
      font-size: 20px
      height: 50px
      @include section_middle_center

      .atm-backIcon
        position: absolute
        left: 20px
        top: 0
        bottom: 0
        margin: auto 0
        width: 20px
        height: 20px
        padding: 0
        border: 0
        background-color: $skyColor

        svg
          path
            fill: $whiteColor

  .atm-bodyTutorial
    background-color: $whiteColor
    height: calc(100% - 50px)
    @include section_middle_center

    h2
      font-weight: 100
      font-size: 20px
      width: 100%
      text-align: center
    
    .atm-omitirTutorial
      width: 100%
      color: $skyColor
      border: 0
      background-color: $whiteColor
      position: relative

  
  .atm-sliderTutorial
    width: 75vw
    overflow: hidden
    margin: 0 auto
    position: relative

    .atm-wrappSlider
      @include section_middle_left
      transition: all ease-in-out .3s

      .atm-slideTuto
        width: 75vw !important
        @include section_middle_center
        p
          width: 100%
          margin: 10px 0 0
          text-align: center
          opacity: .6
          &:last-child
            font-size: 13px
        &:first-child
          img
            width: 215px!important
        &:nth-child(2)
          img
            width: 219px!important
        &:last-child
          img
            width: 100px!important
  
  .atm-dotsSlider
    @include section_middle_center
    width: 75vw
    margin: 20px 0 0

    > button
      width: 20px
      height: 20px
      border-radius: 50%
      background: $blackColor
      margin: 0 8px
      opacity: .4
      border: 0
      padding: 0
    
    .activeDot
      opacity: 1
      background-color: $greenColor
    
  .atm-greenButton
    font-size: 14px
    letter-spacing: 1px
    text-transform: uppercase
    color: $whiteColor
    background-color: $greenColor
    border: 0
    padding: 17px 0
    border-radius: 7px
    width: calc(100% - 20px)
    position: fixed
    bottom: 10px
    left: 10px
    right: 10px
    z-index: -1
    @include section_middle_center
    &:active
      bottom: 8px
    a
      @include section_middle_center
      text-decoration: none !important
    
  .greenButton
    color: $greenColor
    border: 0
    background-color: $whiteColor
    padding-top: 10px
    text-align: center
    text-decoration: none
    @include section_middle_center
  
  /*Footer icon*/
  // .footer-links

  
  .footer-links
    transform: translateX(8.7vw)
  
  .atm-overflow
    position: fixed
    top: 0
    left: 0
    bottom: 0
    right: 0
    background-color: rgba($blackColor, .8)
    width: 100%
    height: 100%
    z-index: 99997

  .atm-mejorarPlan
    background-image: url('http://servicios.movistar.com.pe/images_publica/atm-tutorial/images/icono-footer2.png')
    background-position: top center
    background-repeat: no-repeat
    position: fixed
    left: 17vw
    // top: 5px
    bottom: -30px
    width: 80px
    padding: 0
    height: 80px
    @include section_top_center
    // border: 1px solid #333
    border-radius: 50%
    z-index: 99998
    overflow: hidden
    background-color: $whiteColor
    // a
    //   text-decoration: none
    //   text-align: center
    //   margin: 5px 0 0
    //   padding-top: 30px
    //   position: relative
    //   display: block
    //   width: 100%
    //   background-color: rgba($whiteColor, 0)
    //   font-size: 10px
    //   &::before
    //     content: ''
    //     width: 13px
    //     height: 24px
    //     position: absolute
    //     top: 0
    //     left: 0
    //     right: 0
    //     margin: auto
    //     // background: url('http://servicios.movistar.com.pe/images_publica/atm-tutorial/images/icono-footer.png') no-repeat 
    //     background-position: top left
    //     background-size: cover

  .atm-toltip
    position: fixed
    background-color: $whiteColor
    border-radius: 10px
    width: 220px
    bottom: 90px
    @include section_middle_center
    left: 3vw
    z-index: 999999
    padding: 10px
    &::before
      content: ''
      position: absolute
      bottom: 0
      left: 50%
      width: 0
      height: 0
      border: 18px solid transparent
      border-top-color: $whiteColor
      border-bottom: 0
      margin-left: -18px
      margin-bottom: -18px
  .atm-contentBubble
    margin-left: 10px
    width: 70%
    strong
      font-family: 'Telefonica-Bold'
      line-height: 14px !important
      font-size: 13px
      display: block
      padding: 0
      margin: 0
    p
      font-size: 12px
      margin: 5px 0 0
      padding: 0
  
  #atm-closeTutorial
    position: absolute
    top: 10px
    right: 10px
  
  #wrappTutorialGTM
    position: fixed
    z-index: 999999
    top: 0
    left: 0
    display: none

  .atm-coverIcono
    position: fixed
    z-index: 999999
    bottom: 0
    left: 16vw
    width: 90px
    height: 100px
    // background-color: red

  #wrappRecordatorio
    position: fixed
    bottom: -5px
    left: 15vw  
    z-index: 99999
    width: 100px
    .wrappRecordatorio
      width: 100%
      position: relative
      #atm-closeRecordatorio
        background-color: $grayColor
        width: 30px
        height: 30px
        @include section_middle_center
        border: none
        border-radius: 50%
        position: absolute
        right: 0
        top: 0
        z-index: 3

      #recordatoriobtn
        width: 100%
        position: relative
        z-index: 1
    // background-color: red


@media all and (min-height: 481px)
  .atm-bodyTutorial
    .atm-omitirTutorial
      margin-top: 30px
    
  .atm-dotsSlider
    margin-top: 40px

